# Retail Prices Optimization Project

In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## dataset

In [21]:
data = pd.read_csv("../dataset/retail_price.csv")
data.head()

,product_id,product_category_name,month_year,qty,total_price,freight_price,unit_price,product_name_lenght,product_description_lenght,product_photos_qty,...,comp_1,ps1,fp1,comp_2,ps2,fp2,comp_3,ps3,fp3,lag_price
0,bed1,bed_bath_table,01-05-2017,1,45.95,15.100000,45.95,39,161,2,...,89.9,3.9,15.011897,215.000000,4.4,8.760000,45.95,4.0,15.100000,45.90
1,bed1,bed_bath_table,01-06-2017,3,137.85,12.933333,45.95,39,161,2,...,89.9,3.9,14.769216,209.000000,4.4,21.322000,45.95,4.0,12.933333,45.95
2,bed1,bed_bath_table,01-07-2017,6,275.70,14.840000,45.95,39,161,2,...,89.9,3.9,13.993833,205.000000,4.4,22.195932,45.95,4.0,14.840000,45.95
3,bed1,bed_bath_table,01-08-2017,4,183.80,14.287500,45.95,39,161,2,...,89.9,3.9,14.656757,199.509804,4.4,19.412885,45.95,4.0,14.287500,45.95
4,bed1,bed_bath_table,01-09-2017,2,91.90,15.100000,45.95,39,161,2,...,89.9,3.9,18.776522,163.398710,4.4,24.324687,45.95,4.0,15.100000,45.95

In [22]:
data.shape

(676, 30)

In [23]:
data.columns

Index(['product_id', 'product_category_name', 'month_year', 'qty',
       'total_price', 'freight_price', 'unit_price', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_score', 'customers', 'weekday', 'weekend', 'holiday', 'month',
       'year', 's', 'volume', 'comp_1', 'ps1', 'fp1', 'comp_2', 'ps2', 'fp2',
       'comp_3', 'ps3', 'fp3', 'lag_price'],
      dtype='object')

In [24]:
data.isnull().sum()

product_id                    0
product_category_name         0
month_year                    0
qty                           0
total_price                   0
freight_price                 0
unit_price                    0
product_name_lenght           0
product_description_lenght    0
product_photos_qty            0
product_weight_g              0
product_score                 0
customers                     0
weekday                       0
weekend                       0
holiday                       0
month                         0
year                          0
s                             0
volume                        0
comp_1                        0
ps1                           0
fp1                           0
comp_2                        0
ps2                           0
fp2                           0
comp_3                        0
ps3                           0
fp3                           0
lag_price                     0
dtype: int64

In [25]:
data.duplicated().sum()

np.int64(0)

In [26]:
data.columns.to_list()

['product_id',
 'product_category_name',
 'month_year',
 'qty',
 'total_price',
 'freight_price',
 'unit_price',
 'product_name_lenght',
 'product_description_lenght',
 'product_photos_qty',
 'product_weight_g',
 'product_score',
 'customers',
 'weekday',
 'weekend',
 'holiday',
 'month',
 'year',
 's',
 'volume',
 'comp_1',
 'ps1',
 'fp1',
 'comp_2',
 'ps2',
 'fp2',
 'comp_3',
 'ps3',
 'fp3',
 'lag_price']

In [27]:
data.dtypes

product_id                     object
product_category_name          object
month_year                     object
qty                             int64
total_price                   float64
freight_price                 float64
unit_price                    float64
product_name_lenght             int64
product_description_lenght      int64
product_photos_qty              int64
product_weight_g                int64
product_score                 float64
customers                       int64
weekday                         int64
weekend                         int64
holiday                         int64
month                           int64
year                            int64
s                             float64
volume                          int64
comp_1                        float64
ps1                           float64
fp1                           float64
comp_2                        float64
ps2                           float64
fp2                           float64
comp_3                        float64
ps3                           float64
fp3                           float64
lag_price                     float64
dtype: object

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 676 entries, 0 to 675
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  676 non-null    object
 1   product_category_name       676 non-null    object
 2   month_year                  676 non-null    object
 3   qty                         676 non-null    int64
 4   total_price                 676 non-null    float64
 5   freight_price               676 non-null    float64
 6   unit_price                  676 non-null    float64
 7   product_name_lenght         676 non-null    int64
 8   product_description_lenght  676 non-null    int64
 9   product_photos_qty          676 non-null    int64
 10  product_weight_g            676 non-null    int64
 11  product_score               676 non-null    float64
 12  customers                   676 non-null    int64
 13  weekday                     676 non-null    int64
 14  weekend                     676 non-null    int64
 15  holiday                     676 non-null    int64
 16  month                       676 non-null    int64
 17  year                        676 non-null    int64
 18  s                           676 non-null    float64
 19  volume                      676 non-null    int64
 20  comp_1                      676 non-null    float64
 21  ps1                         676 non-null    float64
 22  fp1                         676 non-null    float64
 23  comp_2                      676 non-null    float64
 24  ps2                         676 non-null    float64
 25  fp2                         676 non-null    float64
 26  comp_3                      676 non-null    float64
 27  ps3                         676 non-null    float64
 28  fp3                         676 non-null    float64
 29  lag_price                   676 non-null    float64
dtypes: float64(15), int64(12), object(3)
memory usage: 158.6+ KB

In [29]:
data.describe()

,qty,total_price,freight_price,unit_price,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_score,customers,...,comp_1,ps1,fp1,comp_2,ps2,fp2,comp_3,ps3,fp3,lag_price
count,676.000000,676.000000,676.000000,676.000000,676.000000,676.000000,676.000000,676.000000,676.000000,676.000000,...,676.000000,676.000000,676.000000,676.000000,676.000000,676.000000,676.000000,676.000000,676.000000,676.000000
mean,14.495562,1422.708728,20.682270,106.496800,48.720414,767.399408,1.994083,1847.498521,4.085503,81.028107,...,79.452054,4.159467,18.597610,92.930079,4.123521,18.620644,84.182642,4.002071,17.965007,107.399684
std,15.443421,1700.123100,10.081817,76.182972,9.420715,655.205015,1.420473,2274.808483,0.232021,62.055560,...,47.933358,0.121652,9.406537,49.481269,0.207189,6.424174,47.745789,0.233292,5.533256,76.974657
min,1.000000,19.900000,0.000000,19.900000,29.000000,100.000000,1.000000,100.000000,3.300000,1.000000,...,19.900000,3.700000,0.095439,19.900000,3.300000,4.410000,19.900000,3.500000,7.670000,19.850000
25%,4.000000,333.700000,14.761912,53.900000,40.000000,339.000000,1.000000,348.000000,3.900000,34.000000,...,49.910000,4.100000,13.826429,53.900000,4.100000,14.485000,53.785714,3.900000,15.042727,55.668750
50%,10.000000,807.890000,17.518472,89.900000,51.000000,501.000000,1.500000,950.000000,4.100000,62.000000,...,69.900000,4.200000,16.618984,89.990000,4.200000,16.811765,59.900000,4.000000,16.517110,89.900000
75%,18.000000,1887.322500,22.713558,129.990000,57.000000,903.000000,2.000000,1850.000000,4.200000,116.000000,...,104.256549,4.200000,19.732500,117.888889,4.200000,21.665238,99.990000,4.100000,19.447778,129.990000
max,122.000000,12095.000000,79.760000,364.000000,60.000000,3006.000000,8.000000,9750.000000,4.500000,339.000000,...,349.900000,4.500000,57.230000,349.900000,4.400000,57.230000,255.610000,4.400000,57.230000,364.000000

In [ ]:
print(data['month_year'].dtype)
print(data['month_year'].unique()[:20])
print(data.head())

object
['01-05-2017' '01-06-2017' '01-07-2017' '01-08-2017' '01-09-2017'
 '01-10-2017' '01-11-2017' '01-12-2017' '01-01-2018' '01-02-2018'
 '01-03-2018' '01-04-2018' '01-05-2018' '01-06-2018' '01-07-2018'
 '01-08-2018' '01-03-2017' '01-04-2017' '01-02-2017' '01-01-2017']
  product_id product_category_name  month_year  qty  total_price  \
0       bed1        bed_bath_table  01-05-2017    1        45.95
1       bed1        bed_bath_table  01-06-2017    3       137.85
2       bed1        bed_bath_table  01-07-2017    6       275.70
3       bed1        bed_bath_table  01-08-2017    4       183.80
4       bed1        bed_bath_table  01-09-2017    2        91.90

   freight_price  unit_price  product_name_lenght  product_description_lenght  \
0      15.100000       45.95                   39                         161
1      12.933333       45.95                   39                         161
2      14.840000       45.95                   39                         161
3      14.287500       45.95                   39                         161
4      15.100000       45.95                   39                         161

   product_photos_qty  ...  comp_1  ps1        fp1      comp_2  ps2  \
0                   2  ...    89.9  3.9  15.011897  215.000000  4.4
1                   2  ...    89.9  3.9  14.769216  209.000000  4.4
2                   2  ...    89.9  3.9  13.993833  205.000000  4.4
3                   2  ...    89.9  3.9  14.656757  199.509804  4.4
4                   2  ...    89.9  3.9  18.776522  163.398710  4.4

         fp2  comp_3  ps3        fp3  lag_price
0   8.760000   45.95  4.0  15.100000      45.90
1  21.322000   45.95  4.0  12.933333      45.95
2  22.195932   45.95  4.0  14.840000      45.95
3  19.412885   45.95  4.0  14.287500      45.95
4  24.324687   45.95  4.0  15.100000      45.95

[5 rows x 30 columns]

## preprocessing and feature engineering

In [ ]:
# converting and sorting by time
data['month_year'] = pd.to_datetime(data['month_year'], format='%d-%m-%Y')
data = data.sort_values('month_year').reset_index(drop=True)

In [35]:
data.head(10)

,product_id,product_category_name,month_year,qty,total_price,freight_price,unit_price,product_name_lenght,product_description_lenght,product_photos_qty,...,comp_1,ps1,fp1,comp_2,ps2,fp2,comp_3,ps3,fp3,lag_price
0,health7,health_beauty,2017-01-01,1,64.99,11.060000,64.990000,59,492,2,...,64.990000,3.9,11.060000,64.990000,3.9,11.060000,64.990000,3.9,11.060000,64.940000
1,health5,health_beauty,2017-01-01,8,2799.20,22.901250,349.900000,51,625,1,...,349.900000,4.3,22.901250,349.900000,4.3,22.901250,64.990000,3.9,11.060000,349.850000
2,bed2,bed_bath_table,2017-02-01,2,179.80,13.020000,89.900000,54,245,1,...,89.900000,3.9,13.020000,89.900000,3.9,13.020000,89.900000,3.9,13.020000,89.850000
3,garden8,garden_tools,2017-02-01,1,179.99,33.540000,179.990000,33,2188,2,...,179.990000,4.2,33.540000,179.990000,4.2,33.540000,179.990000,4.2,33.540000,179.940000
4,health9,health_beauty,2017-02-01,11,219.89,11.750909,19.990000,48,575,1,...,19.990000,4.3,11.750909,19.990000,4.3,11.750909,64.990000,3.9,15.348000,19.940000
5,health7,health_beauty,2017-02-01,5,324.95,15.348000,64.990000,59,492,2,...,19.990000,4.3,11.750909,64.990000,3.9,15.348000,64.990000,3.9,15.348000,64.990000
6,cool1,cool_stuff,2017-02-01,7,599.93,21.971429,85.704286,54,1012,1,...,85.704286,4.2,21.971429,85.704286,4.2,21.971429,85.704286,4.2,21.971429,85.654286
7,garden1,garden_tools,2017-02-01,1,99.99,28.890000,99.990000,58,1893,1,...,99.990000,4.3,28.890000,99.990000,4.3,28.890000,99.990000,4.3,28.890000,99.940000
8,health5,health_beauty,2017-02-01,4,1399.60,26.927500,349.900000,51,625,1,...,19.990000,4.3,11.750909,349.900000,4.3,26.927500,64.990000,3.9,15.348000,349.900000
9,computers4,computers_accessories,2017-02-01,3,479.97,33.400000,159.990000,59,1893,1,...,159.990000,4.2,33.400000,159.990000,4.2,33.400000,159.990000,4.2,33.400000,159.940000

In [37]:
data["month_year"].dtypes

dtype('<M8[ns]')

In [36]:
print(data["month_year"].head())

0   2017-01-01
1   2017-01-01
2   2017-02-01
3   2017-02-01
4   2017-02-01
Name: month_year, dtype: datetime64[ns]

In [38]:
# dropping  clear leakage columns
drop_col = ["total_price"]
data = data.drop(columns=[column for column in drop_col if column in data.columns])
data.shape

(676, 29)